body {
  font-family: 'Arial', sans-serif; 
}

.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1500px;
}

/* custom yearSlider */

#form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

#yearSlider {
  width: 250px;    
  height: 6px;      
}

